* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #12082c, #29243f, #433f52, #5e5c66, #7a7a7a);
}

.presentation {
    padding: 0px 200px 60px 200px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    margin: 0;
    padding: 0;
    font-size: 54px;
}
.sections {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
    font-weight: 300;
}

.leftText {
    width: 800px;
    margin: 0;
    text-align: center;
}

.leftText h2 {
    margin: 40px 0px 40px 0px;
    font-size: 54px;
    font-weight: 700;
}

.leftText p{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 40px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer img {
    width: 200px;
    height: auto;
}

button {
    color: white;
    background: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.border{
        border: 10px solid;
        border-image-slice: 1;
        border-width: 5px;
}

.arrow{
    margin-top: 100px;
    width: 150px;
}
.gradient {
    border-image-source: linear-gradient(to left, #6334b4, #767785);
}





.skills {
    margin-top: 30px;
    padding: 20px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(23, 23, 31);
}

.skillsTitle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 52px;
    font-weight: 500;
    background: linear-gradient( 68.4deg, rgba(248,182,204,1) 0.5%, rgba(192,198,230,1) 49%, rgba(225,246,240,1) 99.8% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillCards {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    margin-bottom: 30px;
}

.skillCards img {
    width: 120px;
    height: auto;
    margin-top: 30px;
}

.skillCards p {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}




.projects {
    background-color: rgb(59, 59, 59);
}
.projects h2  {
    text-align: center;
    font-size: 52px;
    font-weight: 500;
    padding-top: 40px;
    margin-bottom: 40px;
    background: linear-gradient( 68.4deg, rgba(248,182,204,1) 0.5%, rgba(192,198,230,1) 49%, rgba(225,246,240,1) 99.8% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectCards {
    display: flex;
    justify-content: center;
    gap: 300px;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 40px;
}

.projectCards img {
    width: 120px;
    height: auto;
    margin-top: 30px;
}

.project1, .project2, .project3 {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    background-color: rgb(59, 59, 59);
    font-weight: 300;
}